<%= render 'public/genre_index' %>

<div class="content">

    <div class="introduction">
        <%= image_tag "top_tea_party.jpeg" %>

        <div class="introduction_text">
            <p>ようこそ、ながのCAKEへ!</p>
            <p>このサイトは、ケーキ販売のECサイトになります。</p>
            <p>会員でない方も商品の閲覧はできますが、</p>
            <p>購入には会員登録が必要になります。</p>
        </div>
    </div>

    <div class="new">
        <h2>新着商品</h2>

        <% @items.first(4).each do |i| %>
            <div class="new_product">
                <%= link_to item_path(i.id) do%>
                    <%= attachment_image_tag i, :image %>
                    <p><%= i.name %></p>
                <% end %>

                <p>￥<%= i.price %></p>
            </div>
        <% end %>

        <%= link_to "全ての商品を見る", items_path %>
    </div>
</div>