<h1>Top</h1>

<div class="content">
    <table class="genre">
        <thead>
            <tr>
                <th>ジャンル検索</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>ケーキ</td>
            </tr>
            <tr>
                <td>焼き菓子</td>
            </tr>
            <tr>
                <td>プリン</td>
            </tr>
            <tr>
                <td>キャンディ</td>
            </tr>
        </tbody>
    </table>

    <div class="introduction">
        <%= image_tag "top_tea_party.jpeg" %>

        <div class="introduction_text">
            <p>ようこそ、ながのCAKEへ!</p>
            <p>このサイトは、ケーキ販売のECサイトになります。</p>
            <p>会員でない方も商品の閲覧はできますが、</p>
            <p>購入には会員登録が必要になります。</p>
        </div>
    </div>

    <div class="new">
        <h2>新着商品</h2>

        <div class="new_product">
            <%= image_tag "top_sample1.jpeg" %>
            <p>商品名</p>
            <p>￥10,000</p>
        </div>

        <div class="new_product">
            <%= image_tag "top_sample2.jpeg" %>
            <p>商品名</p>
            <p>￥10,000</p>
        </div>

        <div class="new_product">
            <%= image_tag "top_sample3.jpeg" %>
            <p>商品名</p>
            <p>￥10,000</p>
        </div>

        <div class="new_product">
            <%= image_tag "top_sample4.jpeg" %>
            <p>商品名</p>
            <p>￥10,000</p>
        </div>

        <p>全ての商品を見る></p>
    </div>
</div>