<h3>注文情報入力</h3>

<%= form_with model: @order, url: end_user_orders_path(current_customer) do |o| %>

    <div class="payment_method">
        <h4>支払い方法</h4>
        <%= o.radio_button :payment_method, 0 %>クレジットカード
        <%= o.radio_button :payment_method, 1 %>銀行振込
    </div>

    <div class="delivery">
        <h4>お届け先</h4>

        <%= o.radio_button :carriage, 0 %>
        ご自身の住所<br>
        〒<%= current_customer.postal_code %> <%= current_customer.address %><br>
        <%= current_customer.last_name %><%= current_customer.first_name %>
        <br> 

        <%= o.radio_button :carriage, 1 %>登録済み住所から選択
        <%= o.collection_select :customer_id, @addresses, :id, :name %>
        <br>
        
        <%= o.radio_button :carriage, 2 %>新しいお届け先<br>
        郵便番号(ハイフンなし)<%= o.text_field :postal_code %><br>
        住所<%= o.text_field :address %><br>
        宛名<%= o.text_field :address_name %><br>

    </div>

    <%= o.submit "確認画面へ進む" %>

<% end %>

