<%= render 'public/genre_index' %>


<div class="contents">
    <h3>商品一覧</h3>
    <h4>(全<%= Item.count%>件)</h4>

    <div class="items">
        <% @items.each do |i| %>
            <div class="item">
                <%= attachment_image_tag i, :image %>
                <%= link_to i.name, item_path(i.id) %>
                ￥<%= i.price %>
            </div >
        <% end %>
    </div>
</div>