<%= render 'public/genre_index' %>

<div class="item"> 
    <%= attachment_image_tag @item, :image %>

    <div class="item_details">
        <h3><%= @item.name %></h3>
        <%= @item.introduction %>
        ￥<%= @item.price_with_tax %>(税込)
    </div>

    <%= render "public/cart_items/new" %>
</div>