<h1>header</h1>

<%= image_tag 'logo.jpeg', :width=>"100"%>

<nav>
    <% if customer_signed_in? %>
        <ul>
            <li>
                <%=link_to "マイページ" ,  end_user_path(current_customer.id) %>
            </li>

            <li>
                <%=link_to "商品一覧" , items_path %>
            </li>

            <li>
                <%=link_to "カート" , end_user_cart_items_path(current_customer.id) %>
            </li>

            <li>
                <%=link_to "ログアウト" ,  destroy_customer_session_path %>
            </li>
        </ul>
    <% elsif admin_signed_in?  %>
        <ul>
            <li>
                <%=link_to "商品一覧" , admin_items_path %>
            </li>

            <li>
                <%=link_to "会員一覧" , admin_end_users_path %>
            </li>

            <li>
                <%=link_to "注文履歴一覧" , admin_order_items_path %>
            </li>

            <li>
                <%=link_to "ジャンル一覧" , admin_genres_path %>
            </li>

            <li>
                <%=link_to "ログアウト" ,  destroy_admin_session_path %>
            </li>
        </ul>
    <% else %>
        <ul>
            <li>
                <%=link_to "About" , about_path %>
            </li>

            <li>
                <%=link_to "商品一覧" , items_path %>
            </li>

            <li>
                <%=link_to "新規登録" , new_customer_registration_path %>
            </li>

            <li>
                <%=link_to "ログイン" , customer_session_path %>
            </li>
        </ul>
    <% end %>
</nav>